<!doctype html>
<html lang="en">
    <head>
    		<%
    		  var title = page.title;

    		  if (is_archive()) {
    		    title = 'Archives';

    		    if (is_month()) {
    		      title += ': ' + page.year + '/' + page.month;
    		    } else if (is_year()) {
    		      title += ': ' + page.year;
    		    }
    		  } else if (is_category()) {
    		    title = 'Category: ' + page.category;
    		  } else if (is_tag()) {
    		    title = 'Tag: ' + page.tag;
    		  }
    		%>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="<%- config.description %>">
        <link rel="alternate" type="application/rss+xml" title="<%- config.author %>" href="<%- config.feed.path %>">
        <%- autoCanonical(config, page) %>
        <title><% if (title) { %><%= title %> | <% } %><%= config.title %></title>
        <meta name="author" content="Rich Dean">
        <% if (title) { %>
          <meta name="description" content="<%= truncate(strip_html(page.content), {length: 200, separator: ' '}) %>">
        <% } else { %>
          <meta name="description" content="<%= config.description %>">
        <% } %>

        <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/assets/images/favicons/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/assets/images/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/assets/images/favicons/manifest.json">
        <link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/assets/images/favicons/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="/assets/images/favicons/mstile-144x144.png">
        <meta name="msapplication-config" content="/assets/images/favicons/browserconfig.xml">
        <meta name="theme-color" content="#2C1B1B">

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@_richdean" />
        <% if (title) { %>
          <meta name="twitter:title" content="<%= title %>" />
          <meta name="twitter:description" content="<%= truncate(strip_html(page.content), {length: 200, separator: ' '}) %>" />
        <% } else { %>
          <meta name="twitter:title" content="<%= config.title %>" />
          <meta name="twitter:description" content="<%= config.description %>" />
        <% } %>
        <meta name="twitter:image" content="<%- config.url %>/assets/images/rich.jpg" />

        <link rel="stylesheet" type="text/css" href="<%- config.root %>styles/styles.css">
        <meta name="HandheldFriendly" content="True" />
        <meta name="MobileOptimized" content="320" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <% if (typeof page.title == 'undefined') { %>
		<body class="home-template">
	<% } else { %>
		<body class="post-template">
	<% } %>
        <section id="wrapper">
            <% if (!is_post()) { %>
                <header id="header">
                    <% if (theme.logo) { %><a id="logo" href="<%- config.root %>"><img src="<%- theme.logo %>" alt="<%- config.title%>" /></a><% } %>

                    <h1><a href="<%- config.root %>"><%- config.author %></a></h1>
                    <p class="subtitle"><%- config.subtitle %></p>

                    <%- partial('_partial/nav') %>
                </header>
            <% } else { %>
                <header id="header-post">
                    <% if (theme.logo) { %><a id="logo" href="<%- config.root %>"><img src="<%- theme.logo %>" alt="<%- config.title%>" /></a><% } %>

                    <%- partial('_partial/nav') %>
                </header>
            <% } %>
        </section>

        <main id="content">
        <%- body %>
        </main>
        <footer id="footer">
            <section id="footer-message">
                <div>
                    &copy; Copyright <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
                </div>
                <div>
                    Powered by <a href="http://hexo.io/" target="_blank">Hexo</a>
                </div>
            </section>
        </footer>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', '<%- theme.google_analytics %>', 'auto');
          ga('send', 'pageview');
        </script>
    </body>
</html>
