<% permalink = config.url + config.root + post.path %>

<article class="post">
  <h1 class="post-title"><%- post.title %></h1>

  <h2 class="post-date">
    <%= date(post.date, 'D MMMM YYYY') %>
  </h2>

  <section class="post-content article-entry">
    <%- post.content %>
  </section>

  <% if (post.tags && post.tags.length) { %>
    <div class="taglist">
      <% count = post.tags.length %>
      <% post.tags.forEach(function(tag, index) { %>
        <a href='<%= config.root + tag.path %>'><%= tag.name %></a>
      <% }); %>
    </div>
  <% } %>

  <footer class="post-footer">
    <section class="author">
      <% if (theme.logo) { %>
        <span id="logo"><img src="<%- theme.logo %>" alt="<%- config.title%>" /></span>
      <% } %>
      <div class="author-info">
        <h4 class="author-name"><%- config.author %></h4>
        <p class="author-bio"><%- config.subtitle %></p>
      </div>
    </section>
  </footer>
</article>

<nav class="pagination" role="pagination">
    <% if (page.prev) { %>
    <a class="newer-posts" href="<%- url_for(page.prev.path) %>">
        ← prev
    </a>
    <% } %>
    <% if (page.next) { %>
    <a class="older-posts" href="<%- url_for(page.next.path) %>">
        next →
    </a>
    <% } %>
</nav>

<div id="comments">
  <div id="disqus_thread"></div>
  <script type="text/javascript">
      var disqus_shortname = 'richdeannet';
      var disqus_identifier = '<% post.path %>';
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">Comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
